<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.cisco.example"
        versionCode="10" 
        version   = "0.0.2">
    
    <name>Herry's App</name>

    <description>
        Herry's first mobile app using PhoneGap
    </description>

    <author href="http://www.github.com" email="tech.herry@gmail.com">
        Herry Wang
    </author>
    <icon src="icon.png" />
    <gap:splash src="img/logo.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="img/logo.png" gap:platform="android" gap:density="mdpi"/>

</widget>